# Bazel
/bazel-*
/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-fooplace

# Node
node_modules
dist
public
.vite-work
*.local
.vercel

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.pytest_cache/

# Django
backend/db.sqlite3
backend/staticfiles/
*.sqlite3

# OS / editors
.DS_Store
.idea/
.vscode/
*.swp
